/* FORMATAÇÕES PADRÃO */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: inconsolata;
    src: url(../fonts/inconsolata.woff);
}

body {
    background-color: #17202A;
    overflow-x: hidden;
    height: 100vh;
}


/* FORMATAÇÃO DO CABEÇALHO */


#menu-topo {
    padding: 15px;
    border-radius: 200px;
    width: 200px;
    height: 600px;
    position: fixed;
    left: 8%;
    top: 8%;
    background-color: #1C2833;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.container-foto {
    background: linear-gradient(90deg, rgba(68,53,233,1) 10%, rgba(163,136,255,1) 50%, rgba(0,212,255,1) 100%);  
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.menu-linha {
    display: block;    
    margin-bottom: 15px;
}

.menu-linha a { 
    font-family: inconsolata; 
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    background: rgb(68,53,233);
    background: linear-gradient(90deg, rgba(68,53,233,1) 0%, rgba(163,136,255,1) 43%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-linha a:hover { 
    background: rgb(68,53,233);
    background: linear-gradient(90deg, rgba(68,53,233,1) 100%, rgba(163,136,255,1) 70%, rgba(0,212,255,1) 0%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

ul {
   list-style: none;
}

div {
    padding: 10px;
}

section {
    position: absolute;
    right: 150px;
}



/* FORMATAÇÃO DO CONTAINER SOBRE */

#sobre {
    width: 1000px;
    margin-top: 50px;
    text-align: justify;
    padding: 15px;
    display: grid;    
    grid-template-rows: 45px 1fr;
    box-sizing: border-box;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    background-color: #1C2833;
}

.sobre-coluna div {
    margin-block: 20px;
}

h1 {
    font-family: inconsolata;
    color: #FFF;
}

#texto-sobre p {
    margin-top: 15px;
    font-family: inconsolata;
    color: white;
    text-align: justify;
    font-size: 1.3rem;
}

p span {
    color: rgb(255, 238, 0);
    font-weight: bold;
}

h3 {
    margin-top: 15px;
    font-family: inconsolata;
    font-weight: bold;
    color: white;
}

h3 ~ p {
    margin-top: 5px;
    font-family: inconsolata;
    color: #93E0F6;
}


/* FORMATAÇÃO DO CONTAINER PRTFÓLIO */

#porfolio { 
    box-sizing: border-box;
    width: 1000px;
    margin-top: 50px;
    text-align: justify;
    padding: 15px;
    display: grid;    
    grid-template-rows: 100px 1fr;
    box-sizing: border-box;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
    background-color: #1C2833;
    margin-bottom: 50px;
}

#portfolio-coluna {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


#texto-portfolio {
    margin-top: 50px;
    font-family: inconsolata;
    color: white;
    font-size: 1.3rem;
}

.link-git {
    color: #93E0F6;
    font-weight: bold;
}

.card-portfolio {  
    background-color: #17202A;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 180px;
    width: 270px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
    margin-inline: 15px;
}

.card-portfolio:hover {  
    background-position-y: -1300px;
    cursor: pointer;
    transition: .5s;
}

.card-portfolio:hover h3 {  
    margin-top: 10px;
    transition: .5s;
}

.card-portfolio:hover .link-portfolio {  
    opacity: 1;
    transition: 1s;
}

.link-portfolio {
    font-family: inconsolata;
    font-size: 18px;
    margin-inline: 10px;
    text-decoration: none;
    color: #93E0F6;
    opacity: 0;
    border: 3px solid #93E0F6;
    border-radius: 8px;
    padding: 2px 5px;
}

.link-portfolio:hover {
    transition: .5s;
    color: #17202A;
    background: #93E0F6;
}

.card-portfolio h3{
    margin-top: 57%;
    color: #FFF;
    margin-bottom: 50px;
    font-size: 16px;
}

#card-1 {
    background-image: url('../img/dental.png');
}

#card-2 {
    background-image: url('../img/noticias-cidade.png');
}

#card-3 {
    background-image: url('../img/time-now.png');
}

#card-4 {
    background-image: url('../img/time-precos.png');
}

#card-5 {
    background-image: url('../img/hosterr.png');
}

#card-6 {
    background-image: url('../img/meeet.png');
}


/* BOTÃO DE VOLTA AO TOPO */

#back-to-top {
    width: 35px;
    height: 35px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 35px;
    cursor: pointer;
    font-size: 35px;
    border: 3px solid #93E0F6;
    padding: 5px;
    border-radius: 100px;
    color: #93E0F6;
    background: #1C2833
  }

  #back-to-top:hover {
    color: #1C2833;
    background: #93E0F6;
    transition: .5s;
  }


  /* BOTÃO DE MENU RESPONSIVO */

  .menu-btn {
      display: none;
  }

  .menu-hide {    
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .d-none {     
    display: none;
 }

::-webkit-scrollbar{
    background-color: #93E0F6;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #17202A;
    border: 1px solid #93E0F6;
} 

 .lista-sociais {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.lista-sociais li {
    margin-block: 10px;
    margin-inline: 20px;
    font-size: 35px;    
}

.lista-sociais li a {
    color: #93E0F6;
}

.lista-sociais a:hover {
    color: #2acdfa;
    transition: 0.5s;
}

.sociais {
    font-family: inconsolata;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 25px;
}

 /* Tooltip container */
.tooltip {
    position: relative;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
font-family: inconsolata;
width: 120px;
color: #1C2833;
background: #93E0F6;
text-align: center;
padding: 5px 0;
border-radius: 6px;
font-size: 20px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
bottom: 0;
right: 40px;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
content: "";
position: absolute;
transform: rotate(-90deg);
top: 35%;
left: 125px;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #93E0F6 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}